h1 {
    font-family: 'Poiret One', cursive;
    font-size:70px;
    text-align:center;
    color:black;
    }
body {
   text-align:center;
   background-image:url("https://www.xmple.com/wallpaper/solid-color-plain-one-colour-lime-single-1920x1080-c-c4fab0-f-24.svg");
}    
p {
    font-family: 'Open Sans', sans-serif;
    font-size:15px ;
}
    
.button1 {
    border: solid;
    color: teal;
    padding: 102px 97px;
    text-decoration: none;
    margin: 26px 76px;
    cursor: pointer;
    border-radius:180px;
    background-color:#76eec6;
    }
.button2 {
    border: solid;
    color: teal;
    padding: 63px 59px;
    text-decoration: none;
    display: block;
    margin: -350px 1009px;
    cursor: pointer;
    border-radius:180px;
    background-color:#F99989;
    }
.button3 {
    border: solid;
    color: teal;
    padding:65px 85px;
    text-decoration: none;
    display: flex;
    margin: 27px 46px;
    cursor: pointer;
    border-radius:180px;
    background-color:white;
    }